<template>
    <div class="card">
        <header v-if="hasHeader" class="card-header">
            <p v-if="!loading.card.header" class="card-header-title">
                {{ title }}
            </p>
            <div v-if="!loading.card.header" class="card-header-icon tooltip is-tooltip-top is-small content is-small" :data-tooltip="views === undefined || views === 0 || views === null? 'No views yet' : `Views: ${views}`">
                <div style="font-family: 'Trebuchet MS', Helvetica, sans-serif;">
                    <span class="has-text-link">{{ views === undefined || views === null ? '0' : views }}</span><span class="has-text-grey-darker"> views</span>
                </div>
            </div>
            <p v-if="loading.card.header" class="card-header-title is-centered">
                <loader></loader>
            </p>
        </header>

        <div>
            <div v-if="!loading.card.content && hasImage && imageLink != '' && imageLink != undefined" class="card-image">
                <figure v-if="!loading.image" class="image is-4by3">
                    <img :id="`img-${$route.params.projectId}`" :src="imageLink" alt="Project image"/>
                </figure>
                <div v-else>
                    <br>
                    <loader></loader>
                    <br>
                </div>
            </div>
            <div v-if="!loading.card.content && hasContent && content != '' && content != undefined" class="card-content">
                <span v-html="content"/>
            </div>
            <div v-if="loading.card.content" class="card-content">
                <loader></loader>
            </div>
            <footer v-if="!loading.card.footer" class="card-footer is-unselectable">
                <a
                @click="push(ProjectLocation)"
                v-if="!loading.button && ProjectLocation != undefined && ProjectLocation != ''"
                class="card-footer-item tooltip is-tooltip-bottom" data-tooltip="See more">
                    <span class="icon">
                        <i class="far fa-eye"></i>
                    </span>
                </a>
                <span v-else-if="!loading.button && (ProjectLocation == undefined || ProjectLocation == '')" class="card-footer-item">
                    <span class="icon">
                        <i class="far fa-eye-slash"></i>
                    </span>
                </span>
                <span v-if="loading.button" class="card-footer-item">
                    <loader type="button-spinner"></loader>
                </span>
                <a v-if="hasGitlab" class="card-footer-item tooltip is-tooltip-bottom" :href="gitlabLink" target="_blank" data-tooltip="Link to the projects Gitlab repoistory">
                    <span class="icon">
                        <i class="fab fa-gitlab"></i>
                    </span>
                    Gitlab
                </a>
                <a v-if="hasGithub" class="card-footer-item tooltip is-tooltip-bottom" :href="githubLink" target="_blank" data-tooltip="Link to the projects Github repoistory">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                    Github
                </a>
            </footer>
            <footer v-if="loading.card.footer" class="card-footer">
                <span class="card-footer-item">
                    <loader type="button-spinner"></loader>
                </span>
            </footer>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Item',
    props: {
        hasHeader: Boolean,
        hasImage: Boolean,
        hasContent: Boolean,
        title: String,
        imageLink: String,
        content: String,
        ProjectLocation: String,
        hasGitlab: Boolean,
        hasGithub: Boolean,
        gitlabLink: String,
        githubLink: String,
        views: Number
    },
    components: {
        loader: (() => import('@/components/loader/Loader.vue'))
    },
    data () {
        return {
            loading: {
                button: false,
                card: {
                    header: false,
                    content: false,
                    footer: false
                },
                image: false
            }
        }
    },
    methods: {
        push(location) {
            this.loading.button = true
            //eslint-disable-next-line
            console.log(this.loading.button, location)
            this.$router.push(location)
        },
        checkImageLoad() {
            return document.getElementById(`img-${this.$route.params.projectId}`).complete;
        }
    }
}
</script>

<style scoped>
.card-footer > a
{
    color:hsl(0, 0%, 4%)
}
.card-footer > a:hover
{
    color: hsl(0, 0%, 29%)
}
.card .image > img {
    max-width: 80.5%;
}
</style>

<style lang="sass" scoped>
// import bulma
@import '../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../node_modules/bulma/sass/base/_all.sass';

//custom
// $custom: transparent;
$card-color: $black-bis;
// $card-header-background-color: $custom;
$card-header-color: $black-bis;
// $card-content-background-color: $custom;
// $card-footer-background-color: $custom;

@import '../../../node_modules/bulma/sass/components/card.sass';
@import '../../../node_modules/bulma/sass/elements/content.sass';
@import '../../../node_modules/bulma/sass/elements/icon.sass';
</style>
