<template>
  <div class="project">
    <section class="section">
      <div class="container">
        <loader v-if="loadingTitle && loadingBody" type="spinner"></loader>
        <div v-else class="content box">
          <loader v-if="loadingTitle"></loader>
          <h1 v-else class="title">
            {{ title }}
          </h1>
          <br/>
          <div class="columns is-centered">
            
            <div v-if="loadingBody">
              <loader></loader>
              <br>
            </div>
            <div v-else>
              <div v-if="body !== null && body !== undefined">
                <div v-for="document in body" :key="document.id" class="column is-full">
                  {{ document.data.section }}
                </div>
              </div>
              <div class="column is-full" v-else>
                <span class="icon is-centered">
                  <i class="far fa-2x fa-dizzy"></i>
                </span>
                <p class="subtitle">
                  Nothing Found
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { getProject } from '@/js/db_connection.js'

export default {
  name: 'project',
  components: {
    loader: (() => import('@/components/loader/Loader.vue'))
  },
  data () {
    return {
      body: null,
      title: null,
      loadingTitle: true,
      loadingBody: true
    }
  },
  methods: {
    async readData (projectId) {
      this.loadingTitle = true
      var content = await getProject(projectId)
      this.title = content[0].data !== undefined && content[0].data !== null? content[0].data.name : this.$route.params.projectId;
      this.loadingTitle = false
      this.loadingBody = true
      var body = await getProject(projectId, false, true)
      this.body = body.length !== 0 ? body : null
      this.loadingBody = false
      // this.body = await getProject(projectId, true, true, true, true)
    }
  },
  created () {
    this.$root.loading.done()
    this.$parent.loadingProject = false
    this.readData(this.$route.params.projectId);
  }
}
</script>

<style lang="css" scoped>

</style>

<style lang="sass" scoped>
// import bulma
@import '../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../node_modules/bulma/sass/base/_all.sass';

//custom


@import '../../../node_modules/bulma/sass/grid/_all.sass';
@import '../../../node_modules/bulma/sass/layout/section.sass';
@import '../../../node_modules/bulma/sass/elements/container.sass';
@import '../../../node_modules/bulma/sass/elements/content.sass';
@import '../../../node_modules/bulma/sass/elements/title.sass';
@import '../../../node_modules/bulma/sass/elements/box.sass';
@import '../../../node_modules/bulma/sass/elements/icon.sass';
</style>
