<template>
    <div class="loader">
        <div v-if="type === undefined || type === '' || type.includes('block')">
            <div class="lds-facebook">
            <div></div>
            <div></div>
            <div></div>
        </div>
        </div>
        <div v-else-if="type.includes('button-spinner')">
            <div class="button-lds-dual-ring"></div>
        </div>
        <div v-else-if="type.includes('spinner')">
            <div class="lds-dual-ring"></div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'loader',
    props: {
        type: String
    }
}
</script>

<style scoped>
.loader {
  min-width: 10%;
  min-height: 10%;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  bottom: calc(3rem - 11px);
  right: 2.4rem;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  width: 0.8rem;
  /* height: 2rem!important; */
  background: hsl(0, 0%, 4%);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 1rem;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 2rem;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 3rem;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 3rem;
  }
  50%, 100% {
    top: 19px;
    height: 1.5rem;
  }
}
.button-lds-dual-ring {
  display: inline-block;
  margin-top: 0.1rem;
  margin-bottom: -0.1rem;
}
.button-lds-dual-ring:after {
  content: " ";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1rem solid hsl(0, 0%, 4%);
  border-color: transparent hsl(0, 0%, 4%) transparent hsl(0, 0%, 4%);
  animation: button-lds-dual-ring 1s linear infinite;
}
@keyframes button-lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lds-dual-ring {
  display: inline-block;
  margin-top: 0.1rem;
  margin-bottom: -0.1rem;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.4rem solid hsl(0, 0%, 4%);
  border-color: transparent hsl(0, 0%, 4%) transparent hsl(0, 0%, 4%);
  animation: button-lds-dual-ring 1s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>


