<template>
  <div class="Menu">
    <nav class="navbar is-black is-fixed-top is-transparent is-unselectable">
      <div class="navbar-brand">
        <span class="navbar-item">
          <ul>
            <li>
              <a class="icon has-text-white"
              :class="{ 'is-active': ShowSideMenu }"
              v-on:click="ShowSideMenu = !ShowSideMenu">
                <i class="fas fa-bars"></i>
              </a>
            </li>
            <li>
              <a id="home" class="icon has-text-white"
              :class="{ 'is-active': this.$route.path === '/' }"
              v-on:click="push('/')">
                <i class="fab fa-fort-awesome"></i>
              </a>
            </li>
          </ul>
        </span>
        <div
        class="navbar-burger burger"
        v-bind:class="{ 'is-active': burger }"
        v-on:click="toggleBurger()"
        data-target="TopMenu"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="TopMenu" 
      class="navbar-menu"
      v-bind:class="{ 'is-active': burger }">
        <div class="navbar-start">
          <a class="navbar-item" :class="{ 'is-active': this.$route.path.includes('projects') }" v-on:click="push('/projects')">
            <span>Projects</span>
          </a>
          <a class="navbar-item" :class="{ 'is-active': this.$route.path.includes('about') }" v-on:click="push('/about')">
            <span>About</span>
          </a>
        </div>

        <div class="navbar-end">
          <div v-if="!burger" class="navbar-item tooltip is-tooltip-left is-tooltip-light"
          data-tooltip="Flip the switch to change the website!"
          @click="changeMode()">
            <div class="field">
              <input id="modeSwitch" type="checkbox" name="modeSwitch" class="switch is-rtl" v-model="isChecked">
              <label for="modeSwitch">Entertainment Mode</label>
            </div>
          </div>
          <div v-else class="navbar-item tooltip is-tooltip-bottom" data-tooltip="Flip the switch to change the website!">
            <div class="buttons is-centered has-addons">
              <div class="button is-dark is-outlined" :class="{ 'is-active': $root.mode.includes('pro') }" @click="changeMode('pro')">Pro</div>
              <div class="button is-medium-red is-outlined" :class="{ 'is-active': $root.mode.includes('entertainment') }" @click="changeMode('entertainment')">Entertainment</div>
            </div>
          </div>
          <div class="navbar-item">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link is-arrowless is-hidden-touch">
                <span class="icon">
                  <i class="fas fa-caret-down"></i>
                </span>
              </a>
              <div class="navbar-dropdown is-boxed is-right">
                <span class="navbar-item">
                  <a class="button is-black is-outlined"
                  href="https://gitlab.com/dodekoekjes"
                  target="_blank">
                    <span class="icon">
                      <i class="fab fa-gitlab"></i>
                    </span>
                  </a>
                </span>
                <span class="navbar-item">
                  <a class="button is-black is-outlined"
                  href="https://www.github.com/dodekoekjes"
                  target="_blank">
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <transition appear
    name="slide-right">
      <SideMenu
        picture="https://bulma.io/images/placeholders/256x256.png"
        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        v-if="ShowSideMenu"
        v-on:mouseleave="ShowSideMenu = false"
      />
    </transition>
  </div>
</template>

<script>
import SideMenu from './SideMenu.vue';

export default {
  name: 'Menu',
  props: {
    msg: String
  },
  components: {
    SideMenu
  },
  data () {
    return {
      burger: false,
      ShowSideMenu: false,
      isChecked: this.$root.getCookie('mode').includes('entertainment'),
      windowWidth: document.body.clientWidth
    }
  },
  methods: {
    push (location) {
      this.burger = false;
      this.$router.push(location);
    },
    toggleBurger () {
      if (!this.burger) {
        this.$parent.startLoop();
      }
      else {
        this.$parent.stopLoop();
      }
      this.burger = !this.burger;
      this.ShowSideMenu = false;
    },
    changeMode (mode = '') {
      if (mode === '') {
        if (this.isChecked) {
          mode = 'pro';
          this.$root.mode = mode;
          document.cookie = `mode=${mode};`;
        }
        else {
          mode = 'entertainment';
          this.$root.mode = mode;
          document.cookie = `mode=${mode};`;
        }
      }
      else if (mode.includes('entertainment')) {
        this.$root.mode = mode;
        document.cookie = `mode=${mode};`;
      }
      else if (mode.includes('pro')) {
        this.$root.mode = mode;
        document.cookie = `mode=${mode};`;
      }
      //eslint-disable-next-line
      console.log('mode =', this.$root.mode)
    }
  }
}
</script>

<style lang='css' scoped>
.Menu
{
  margin-bottom: 3.5rem;
}
.navbar-brand
{
  max-height: 3.5rem;
}
.navbar-menu {
  max-height: 3.5rem;
}
.navbar-brand .navbar-item {
  border-right: 0.1rem solid whitesmoke;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.navbar-brand .navbar-item a:hover, .navbar-brand .navbar-item a.is-active {
  background-color: whitesmoke;
  border-radius: 0.12rem;
  color: hsl(0, 0%, 4%)!important;
}

.navbar.is-black .navbar-menu:not(.is-active) .navbar-start > a.navbar-item:hover,
.navbar.is-black .navbar-menu:not(.is-active) .navbar-start > a.navbar-item:focus,
.navbar.is-black .navbar-menu:not(.is-active) .navbar-start > a.navbar-item.is-active
{
  background-color: whitesmoke !important;
  color: hsl(0, 0%, 4%) !important;
  border-radius: 0.12rem;
  margin-top: +0.2rem;
  margin-bottom: +0.2rem;
}
.navbar.is-black .navbar-menu:not(.is-active) .navbar-start {
  margin-left: +0.2rem;
}

.navbar.is-black .navbar-menu:not(.is-active) .navbar-start .navbar-item {
  margin-left: +0.2rem;
}

.navbar.is-black .navbar-menu.is-active .navbar-start > a.navbar-item {
  color: #363636;
  background: transparent;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 0.5rem;
  border: 1px solid hsl(0, 0%, 4%);
  margin-bottom: 0.5rem;
}

.navbar.is-black .navbar-menu.is-active .navbar-start > a.navbar-item:hover,
.navbar.is-black .navbar-menu.is-active .navbar-start > a.navbar-item:focus,
.navbar.is-black .navbar-menu.is-active .navbar-start > a.navbar-item.is-active {
  color: #ffffff;
  background: hsl(0, 0%, 4%);
  border: 1px solid hsl(0, 0%, 4%);
  border-radius: 0.5rem;
}

/* vue animation */
.slide-right-enter-active {
    transition: all .3s ease;
}
.slide-right-leave-active {
    transition: all .5s ease;
}
.slide-right-enter, .slide-right-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(-100%);
  opacity: 0;
}
</style>

<style lang="sass" scoped>
@import '../../scss/custom.scss'

// import bulma
@import '../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../node_modules/bulma/sass/base/_all.sass';

$button-padding-vertical: 0;

@import '../../../node_modules/bulma/sass/components/navbar.sass';
@import '../../../node_modules/bulma/sass/elements/button.sass';
@import '../../../node_modules/bulma/sass/elements/icon.sass';
@import '../../../node_modules/bulma/sass/elements/form.sass';

$switch-focus: none;
$switch-background: $dark;
$switch-background-active: $medium-red;

@import '../../../node_modules/bulma-switch/dist/css/bulma-switch.sass';
</style>

