<template>
    <div class="sidemenu">
        <div class="columns is-mobile is-gapless">
            <div class="column is-is-one-fifth"/>
            <div class="column is-three-fifths">
                <figure class="image is-square">
                    <img class="is-rounded" :src="picture">
                </figure>
                <br>
                <div class="content">
                    <h5 class="title has-text-white-ter has-text-centered">
                        Tristan Kruijshaar {{ $root.mode }}
                    </h5>
                </div>
            </div>
            <div class="column is-one-fifth"/>
        </div>
        <aside class="menu has-text-left box has-background-black-ter">
            <p class="menu-label">
                General
            </p>
            <ul class="menu-list">
                <li><a>Dashboard</a></li>
                <li><a>Customers</a></li>
            </ul>
            <p class="menu-label">
                Administration
            </p>
            <ul class="menu-list">
                <li><a>Team Settings</a></li>
                <li>
                <a class="is-active">Manage Your Team</a>
                <ul>
                    <li><a>Members</a></li>
                    <li><a>Plugins</a></li>
                    <li><a>Add a member</a></li>
                </ul>
                </li>
                <li><a>Invitations</a></li>
                <li><a>Cloud Storage Environment Settings</a></li>
                <li><a>Authentication</a></li>
            </ul>
            <p class="menu-label">
                Transactions
            </p>
            <ul class="menu-list">
                <li><a>Payments</a></li>
                <li><a>Transfers</a></li>
                <li><a>Balance</a></li>
            </ul>
        </aside>
        
    </div>
</template>

<script>
export default {
  name: 'SideMenu',
  props: {
    picture: String,
    content: String
  },
  data () {
      return {
          loggedIn: false
      }
  },
  methods: {
      logIn(type) {
        var provider = null
        switch(type) {
          case 'facebook':
            //facebook login
            provider = new this.$root.firebase.auth.FacebookAuthProvider();
            break;
          case 'github':
            //github login
            provider = new this.$root.firebase.auth.GithubAuthProvider();
            break;
          default:
            // google login
            provider = new this.$root.firebase.auth.GoogleAuthProvider();
        }
        this.$root.firebase.auth().signInWithRedirect(provider);
        this.$root.firebase.auth().getRedirectResult().then(function(result) {
        if (result.credential) {
            // This gives you a Google Access Token. You can use it to access the Google API.
            var token = result.credential.accessToken;
            //eslint-disable-next-line
            console.log('token:', token);
        }
        // The signed-in user info.
        var user = result.user;
        //eslint-disable-next-line
        console.log('user:', user)
        }).catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        //eslint-disable-next-line
        console.log('errorCode:', errorCode)
        var errorMessage = error.message;
        //eslint-disable-next-line
        console.error('errorMessage:', errorMessage);
        // The email of the user's account used.
        var email = error.email;
        //eslint-disable-next-line
        console.error('email:', email);
        // The firebase.auth.AuthCredential type that was used.
        var credential = error.credential;
        //eslint-disable-next-line
        console.error('credential:', credential);
        // ...
        });
    }
  }
}
</script>

<style lang="css" scoped>
.sidemenu
{
  height: calc(100% - 3.5rem);
  margin-top: 3.5rem;
  width: 15rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: hsl(0, 0%, 4%);
  overflow-y: auto;
  overflow-x: hidden;
}
.sidemenu .is-active {
    background-color: whitesmoke!important;
    color: #363636!important;
}
.sidemenu li {
    margin-top: +0.1rem;
    margin-bottom: +0.1rem;
}
.sidemenu .menu {
    margin-left: 1rem;
    margin-right: 1rem;
}
</style>

<style lang="sass" scoped>

// import bulma
@import '../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../node_modules/bulma/sass/base/_all.sass';

@import '../../../node_modules/bulma/sass/grid/_all.sass';
@import '../../../node_modules/bulma/sass/elements/image.sass';
@import '../../../node_modules/bulma/sass/elements/content.sass';
@import '../../../node_modules/bulma/sass/elements/title.sass';
@import '../../../node_modules/bulma/sass/elements/box.sass';


$menu-item-color: $white-ter;

@import '../../../node_modules/bulma/sass/components/menu.sass';
</style>

