<template>
  <div class="about">
    <h1>This is an about page</h1>
    <a @click="$router.push('/projects/hoi')">test</a>
    <div id="testing"></div>
  </div>
</template>

<script>
// import NProgress from 'nprogress'
// NProgress.configure({
//   template: "<div class='special'><span>test complete</span></div>"
// })

export default {
  name: 'About',
  methods: {
    test () {
      //eslint-disable-next-line
      console.log('success')
      // NProgress.set(0.5)
    }
  },
  created () {
    this.$root.loading.done()
  }
}
</script>

<style scoped>

</style>