<template>
  <div class="error404">
    <section class="section">
      <div class="container">
        <div class="notification is-danger">
          <h1>ERROR {{ code === undefined ? 404 : code }}: {{ msg === undefined ? 'Page not found' : msg }}</h1>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
    name: 'error',
    props: {
      code: String,
      msg: String
    },
    data () {
      return {

      }
    },
    created () {
      this.$root.loading.done()
    }
}
</script>

<style lang="css" scoped>

</style>

<style lang="sass" scoped>


// import bulma
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';

// custom vars

// import notification
@import '../../node_modules/bulma/sass/elements/notification.sass'
@import '../../node_modules/bulma/sass/layout/section.sass'
@import '../../node_modules/bulma/sass/elements/container.sass'
</style>

