<template>
  <div class="home">
    <section id="#top" class="hero is-medium is-black">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Tristan Kruijshaar's portfolio</h1>
          <h2 class="subtitle">made by {{ $root.mode.includes('entertainment') ? 'Magne' : 'me'}}</h2>
        </div>
      </div>
    </section>
    <section id="#featured" class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            FEATURED PROJECTS
          </h1>
          <br/>
          <div class="columns is-multiline">
            <div v-for="project in projects" :key="project.data.views" class="column" :class="{'is-one-quarter-desktop is-half-tablet': projects.length > 3, 'is-half-desktop is-half-tablet': projects.length === 2, 'is-one-third-desktop': projects.length === 3 }">
              <Item
                  :hasHeader="true"
                  :hasImage="true"
                  :hasContent="true"
                  :title="project.data.name !== '' && project.data.name !== undefined ?  $parent.makeFirstUpper(project.data.name) : $parent.makeFirstUpper(project.id)"
                  :image-link="project.data.content.links.image"
                  :content="project.data.content.description"
                  :project-location="`/projects/${project.id}`"
                  :hasGitlab="project.data.content.links.gitlab !== undefined && project.data.content.links.gitlab !== null"
                  :hasGithub="project.data.content.links.github !== undefined && project.data.content.links.github !== null"
                  :gitlab-link="project.data.content.links.gitlab"
                  :github-link="project.data.content.links.github"
                  :views="project.data.views">
              </Item>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-background-white">
      <div class="container is-unselectable">
        <a @click="push('/projects')">
          <span class="icon has-text-black-bis">
            <i class="fab fa-3x fa-readme"></i>
          </span>
          <br>
          <span style="text-decoration: none; color: hsl(0, 0%, 4%);">
            Show more
            <loader v-if="loading" type="button-spinner"></loader>
          </span>
        </a>
      </div>
    </section>
    <section class="hero is-black">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            About me
          </h1>
          <h2 class="subtitle">lorem ipsum</h2>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { getProjects } from '@/js/db_connection.js'

export default {
  name: 'home',
  components: {
    Item: (() => import('@/components/projects/Item.vue')),
    loader: (() => import('@/components/loader/Loader.vue'))
  },
  data () {
    return {
      loading: false,
      temp: '',
      projects: null
    }
  },
  methods: {
    push (location) {
      this.loading = true
      this.$router.push(location)
    }
  },
  async created () {
    this.$root.loading.done()
    this.loading = true
    this.projects = await getProjects(["views", "desc"], ["featured", "==", true])
    this.loading = false
  }
}
</script>

<style lang="css" scoped>

</style>

<style lang="sass" scoped>

// import bulma
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';

// custom
$section-padding: 0.75rem;

@import '../../node_modules/bulma/sass/grid/_all.sass';
@import '../../node_modules/bulma/sass/layout/hero.sass';
@import '../../node_modules/bulma/sass/layout/section.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/elements/box.sass';
@import '../../node_modules/bulma/sass/elements/button.sass';
</style>

