<template>
  <div class="projects">
    <section class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <loader v-if="loadingProject"></loader>
          <h1 v-else class="title">
            {{ $route.name.toUpperCase() }}
          </h1>
          <br>
          <div class="columns is-centered">
            <div class="column">
              <div v-if="$route.params.projectId === undefined || $route.params.projectId === null">
                <loader v-if="loading" type="spinner"></loader>
                <div v-else class="columns is-multiline">
                  <div class="column is-one-quarter-desktop is-half-tablet" v-for="project in projects" :key="project.data.views">
                    <Item
                    :hasHeader="true"
                    :hasImage="true"
                    :hasContent="true"
                    :title="project.data.name !== '' && project.data.name !== undefined ? $parent.makeFirstUpper(project.data.name) : $parent.makeFirstUpper(project.id)"
                    :image-link="project.data.content.links.image"
                    :content="project.data.content.description"
                    :project-location="`/projects/${project.id}`"
                    :hasGitlab="project.data.content.links.gitlab !== undefined && project.data.content.links.gitlab !== null"
                    :hasGithub="project.data.content.links.github !== undefined && project.data.content.links.github !== null"
                    :gitlab-link="project.data.content.links.gitlab"
                    :github-link="project.data.content.links.github"
                    :views="project.data.views">
                    </Item>
                  </div>
                </div>
              </div>
              <router-view v-if="!loading"></router-view>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Item from '@/components/projects/Item.vue'
import { getProjects } from '@/js/db_connection.js'

export default {
  name: 'projects',
  components: {
    loader: (() => import('@/components/loader/Loader.vue')),
    Item
  },
  data () {
    return {
      loading: false,
      loadingProject: false,
      projects: null,
      rooms: null,
      messages: null,
      body: null
    }
  },
  async created () {
    this.$root.loading.done()
    // this.getItems();
    // this.getRooms('portfolio-website');
    // this.getMessages('portfolio-website', 'reviews_portfolio-website');
    // this.getBody('portfolio-website');
    this.loading = true
    this.projects = await getProjects(["views", "desc"])
    this.loading = false
  },
  beforeRouteUpdate (to, from, next) {
    if (to.name !== null && to.name !== undefined) {
      if (to.name === 'project') {
        this.loadingProject = true
      }
    }
    next()
  }
}
</script>

<style lang="css" scoped>
.projects, .projects .hero {
  height: 100%;
}
</style>

<style lang="sass" scoped>
// import bulma
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';

//custom
@import '../../node_modules/bulma/sass/grid/_all.sass';
@import '../../node_modules/bulma/sass/layout/hero.sass';
@import '../../node_modules/bulma/sass/layout/section.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/elements/button.sass';
</style>
