<template>
  <div class="vue-breadcrumb">
    <section class="section has-background-white">
      <div class="container-fluid">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li v-if="$route.path !== '/'"></li>
            <li v-if="$route.path !== '/'">
              <a
              @click="push('/')"
              :aria-current="$route.path === '/' ? 'page' : ''">
                Home
              </a>
            </li>
            <li
            v-for="route in this.path" :key="route"
            :class="{ 'is-active': route === $route.path.slice($route.path.lastIndexOf('/')+1, $route.path.length) }">
              <a
              @click="push(getLast($route.path, route))"
              :aria-current="route === '/' ? 'page' : ''">
                {{ route }}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'breadcrumb',
  data () {
    return {
      path: '',
      temp: ''
    }
  },
  methods: {
    sliceRoute() {
      //eslint-disable-next-line
      this.path = this.$route.path.match(/[^\/]+/gi)
    },
    getLast(path, target) {
      if (path.slice(path.lastIndexOf('/')+1, path.length) === target) {
        //eslint-disable-next-line
        console.log(path, target)
        return path
      }
      else {
        //eslint-disable-next-line
        console.log(path, target)
        return this.getLast(path.slice(0, path.lastIndexOf('/')), target)
      }
    },
    push (location) {
      this.$router.push(location)
    }
  },
  watch: {
    '$route' () {
      this.sliceRoute()
    }
  },
  created () {
    this.sliceRoute()
  }
}
</script>

<style lang="css">

</style>

<!-- general sass variables -->
<style lang="sass">
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';

$section-padding: 1rem 1.5rem;

@import '../../node_modules/bulma/sass/layout/section.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/components/breadcrumb.sass';


</style>

