<template>
  <div class="vue-footer">
    <footer class="footer">
      <div class="columns">
        <div class="column">
          <div id="contact" class="content has-text-centered">
            <h1 class="title has-text-left is-unselectable">Contact</h1>
            <div class="tile is-ancestor">
              <div class="tile is-vertical">
                <div class="tile is-parent">
                  <div class="tile is-child is-1 has-text-centered is-hidden-touch">
                    <div class="icon">
                      <i class="far fa-lg fa-envelope"></i>
                    </div>
                  </div>
                  <div class="tile is-child is-1 has-text-left is-hidden-desktop">
                    <div class="icon">
                      <i class="far fa-lg fa-envelope"></i>
                    </div>
                  </div>
                  <div class="tile is-child is-1 has-text-centered is-hidden-mobile">
                    <div class="icon">
                      <i class="fas fa-sm fa-grip-lines-vertical"></i>
                    </div>
                  </div>
                  <div class="tile is-child content has-text-left">
                    <span class="has-text-primary content">tristanmagne@live.nl</span>
                  </div>
                </div>
                <div class="tile is-parent">
                  <div class="tile is-child is-1 has-text-centered is-hidden-touch">
                    <div class="icon">
                      <i class="fas fa-lg fa-phone"></i>
                    </div>
                  </div>
                  <div class="tile is-child is-1 has-text-left is-hidden-desktop">
                    <div class="icon">
                      <i class="fas fa-lg fa-phone"></i>
                    </div>
                  </div>
                  <div class="tile is-child is-1 has-text-centered is-hidden-mobile">
                    <div class="icon">
                      <i class="fas fa-sm fa-grip-lines-vertical"></i>
                    </div>
                  </div>
                  <div class="tile is-child has-text-left">
                    <span class="has-text-warning">+31 </span><span class="has-text-info"> 6 30433764</span>
                  </div>
                </div>
                <div class="tile is-parent">
                  <div class="tile is-child is-1 has-text-centered is-hidden-touch">
                    <div class="icon">
                      <i class="fab fa-lg fa-git-square"></i>
                    </div>
                  </div>
                  <div class="tile is-child is-1 has-text-left is-hidden-desktop">
                    <div class="icon">
                      <i class="fab fa-lg fa-git-square"></i>
                    </div>
                  </div>
                  <div class="tile is-child is-1 has-text-centered is-hidden-mobile">
                    <div class="icon">
                      <i class="fas fa-sm fa-grip-lines-vertical"></i>
                    </div>
                  </div>
                  <div class="tile is-child has-text-left">
                    <a href="https://www.github.com/dodekoekjes" target="_blank">
                      Github
                    </a>
                    |
                    <a href="https://www.gitlab.com/dodekoekjes" target="_blank">
                      Gitlab
                    </a>
                  </div>
                </div>
                <div class="tile is-parent">
                  <div class="tile is-child is-1 has-text-centered is-hidden-touch">
                    <span class="icon">
                      <i class="fab fa-lg fa-linkedin"></i>
                    </span>
                  </div>
                  <div class="tile is-child is-1 has-text-left is-hidden-desktop">
                    <span class="icon">
                      <i class="fab fa-lg fa-linkedin"></i>
                    </span>
                  </div>
                  <div class="tile is-child is-1 has-text-centered is-hidden-mobile">
                    <div class="icon">
                      <i class="fas fa-sm fa-grip-lines-vertical"></i>
                    </div>
                  </div>
                  <div class="tile is-child has-text-left">
                    <a class="has-text-link is-unselectable">
                      LinkedIn
                      <sup>
                        <span class="tag is-unselectable is-warning"
                        style="font-size: 0.6rem;">unavailable</span>
                      </sup>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div id="bulma" class="content has-text-left">
              <h1 class="title is-unselectable">Bulma</h1>
              <p>
                <a href="https://bulma.io/" target="_blank">
                  Bulma
                </a>is a CSS framework. As such, the sole output is a single CSS file: bulma.css
                You can either use that file, "out of the box", or download the Sass source files to customize the variables.
                There is no JavaScript included. People generally want to use their own JS implementation (and usually already have one). Bulma can be considered "environment agnostic": it's just the style layer on top of the logic.
              </p>
              <p>
                Made by
                <a href="https://jgthms.com" target="_blank">Jeremy Thomas</a>.
                The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php" target="_blank">
                MIT</a>.
                The website content is licensed
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
                  CC BY NC SA 4.0</a>.
              </p>
            </div>
          </div>
          <div class="column">
            <div id="vue" class="content has-text-centered">
              <h6 class="title  has-text-white-ter">
                <span class="icon is-unselectable is-small">
                  <i class="fab fa-vuejs fa-3x"></i>
                  <span>ue.js</span>
                </span>
              </h6>
              <div class="content has-text-white-ter">
                <p>
                  <a href="https://vuejs.org" target="_blank">
                    Vue
                  </a>
                  (pronounced <code class="has-background-grey-darker">/vjuː/</code>,
                  like view) is a progressive framework for building user interfaces.
                  It is designed from the ground up to be incrementally adoptable,
                  and can easily scale between a library and a framework depending on different use cases.
                  It consists of an approachable core library that focuses on the view layer only,
                  and an ecosystem of supporting libraries that helps you tackle complexity in large Single-Page Applications.
                </p>
                <p>Vue uses the
                  <a href="https://github.com/vuejs/vue/blob/dev/LICENSE" target="_blank">
                    MIT
                  </a>
                  licence.
                </p>
              </div>
            </div>
          </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'vue-footer',
  components: {

  },
  data () {
    return {
    }
  }
}
</script>

<style lang="css" scoped>
.footer
{
  color: hsl(0, 0%, 98%);
  height: calc(11rem);
}
.footer h1, .footer .content h1
{
  color: hsl(0, 0%, 98%);
}
#vue, #bulma, #contact {
  margin-top: 1rem;
}
#vue .box {
  background-color: #800000;
}
#vue .icon {
  width: 100%;
}
</style>

<style lang="sass" scoped>

// import bulma
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';

// custom
$footer-background-color: $black;

@import '../../node_modules/bulma/sass/layout/footer.sass';
@import '../../node_modules/bulma/sass/grid/_all.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/elements/tag.sass';
@import '../../node_modules/bulma/sass/elements/icon.sass';
@import '../../node_modules/bulma/sass/elements/box.sass';
@import '../../node_modules/bulma/sass/elements/content.sass';
</style>

