a:visited, a:focus, a, a:active,
router-link, router-link:active, router-link:visited, router-link:focus, router-link {
    border: none;
    text-decoration: none;
    outline: none;
}
html {
    overflow-y: auto;
}
body {
    margin-left: 0;
    margin-right: 0;
}
code {
    border-radius: 0.1rem;
}

.button.is-dark.is-outlined.is-active, .button.is-dark.is-outlined.is-hovered {
    background-color: #363636;
    border-color: #363636;
    color: whitesmoke;
}
