<template>
  <div id="app">
    <div id="nav">
      <Menu/>
    </div>
    <div id="router-view" class="has-background-light">
      <router-view/>
    </div>
    <cookie-law
    theme="blood-orange"
    message="This website uses cookies for optimal funcionality"
    transitionName="fade"
    class="has-background-black-ter "
    style="height: 7%;">
    </cookie-law>
    <Seperator/>
    <div id="footer">
      <Footer/>
    </div>
  </div>
</template>

<script>
import Menu from '@/components/menu/Menu.vue'
import Footer from '@/components/Footer.vue'
import CookieLaw from '../node_modules/vue-cookie-law'
import Seperator from '@/components/Breadcrumb.vue'

export default {
  name: 'app',
  components: {
    Menu,
    Footer,
    CookieLaw,
    Seperator
  },
  data () {
    return {
      windowWidth: document.body.clientWidth,
      LoopId: null
    }
  },
  methods: {
    startLoop () {
      var ref = this
      //eslint-disable-next-line
      console.log(this.$children)
      this.loopId = window.setInterval(function () {
        ref.windowWidth = document.body.clientWidth;
        if (ref.windowWidth > 1088) {
          ref.$children.forEach(child => {
          if (child.$options.name.toLowerCase().includes('menu')) {
            child.burger = false
          }
        })
        }
      }, 500);
    },
    stopLoop () {
      window.clearInterval(this.loopId)
      this.loopId = null
    },
    makeFirstUpper(word) {
      return word = word.charAt(0).toUpperCase() + word.slice(1, word.length)
    }
  },
  beforeRouteUpdate (to, from, next) {
    if (to.name !== null && to.name !== undefined) {
      this.$root.loading.start()
    }
    next()
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#router-view {
    min-height: calc(100vh - calc(11rem * 3));
    background-color: white;
}
/* customize the loading bar */
#nprogress .bar {
  background: whitesmoke!important;
  height: 0.1rem !important;
}
</style>

<!-- general sass variables -->
<style lang="sass">
@charset "utf-8";
// import custom variables
@import './scss/custom.scss'

$body-background-color: hsl(0, 0%, 4%);

@import '~/../../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';

</style>

