@charset "utf-8";

// custom variables
// $border: #363636;
$medium-red: #800000;
$medium-red-bis: #bf0000;
$medium-red-darker: #5e0000;

.has-text-medium-red {
    color: $medium-red;
}
// .is-medium-red {
//     background-color: $medium-red!important;
// }

.button.is-medium-red {
    background-color: $medium-red;
    border-color: transparent;
    color: whitesmoke;
}

.button.is-medium-red:hover, .button.is-medium-red.is-hovered {
    background-color: $medium-red-darker;
    border-color: transparent;
    color: whitesmoke;
}

.button.is-medium-red:focus, .button.is-medium-red.is-focused {
    border-color: transparent;
    color: whitesmoke;
}

.button.is-medium-red:focus:not(:active), .button.is-medium-red.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}

.button.is-medium-red:active, .button.is-medium-red.is-active {
    background-color: $medium-red-darker;
    border-color: transparent;
    color: whitesmoke;
}

.button.is-medium-red[disabled],
fieldset[disabled] .button.is-medium-red {
    background-color: $medium-red;
    border-color: transparent;
    box-shadow: none;
}

.button.is-medium-red.is-inverted {
    background-color: whitesmoke;
    color: $medium-red;
}

.button.is-medium-red.is-inverted:hover {
    background-color: #e8e8e8;
}

.button.is-medium-red.is-inverted[disabled],
fieldset[disabled] .button.is-medium-red.is-inverted {
    background-color: #363636;
    border-color: transparent;
    box-shadow: none;
    color: $medium-red;
}

.button.is-medium-red.is-loading::after {
    border-color: transparent transparent #363636 #363636 !important;
}

.button.is-medium-red.is-outlined {
    background-color: transparent;
    border-color: $medium-red;
    color: $medium-red;
}

.button.is-medium-red.is-outlined:hover, .button.is-medium-red.is-outlined:focus, .button.is-medium-red.is-outlined.is-active, .button.is-medium-red.is-outlined.is-hovered {
    background-color: $medium-red;
    border-color: $medium-red;
    color: whitesmoke;
}

.button.is-medium-red.is-outlined.is-loading::after {
    border-color: transparent transparent $medium-red $medium-red !important;
}

.button.is-medium-red.is-outlined[disabled],
fieldset[disabled] .button.is-dark.is-outlined {
background-color: transparent;
border-color: #363636;
box-shadow: none;
color: #363636;
}

.button.is-medium-red.is-inverted.is-outlined {
background-color: transparent;
border-color: whitesmoke;
color: whitesmoke;
}

.button.is-medium-red.is-inverted.is-outlined:hover, .button.is-medium-red.is-inverted.is-outlined:focus {
background-color: whitesmoke;
color: $medium-red;
}

.button.is-medium-red.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-dark.is-inverted.is-outlined {
background-color: transparent;
border-color: whitesmoke;
box-shadow: none;
color: whitesmoke;
}
// import bulma
// @import "../../node_modules/bulma/bulma.sass";